
.input{
	height: 60px;
	
}
.input1{
	height: 40px;
	
}
.tamanoLetra{
	font-size: 11px;
}
.tituloLetra{
	font-size: 12px;
	margin-bottom: 5px;
}
label{
	margin-top: 10px;
}
.a{
	border: dashed;
	
	
}
figure{
	width: 40px;
	height: 20px;
	border:dashed;
}
.center{
	text-align: center;
	font-size: 12px;
	margin-bottom: 5px;
}
.botones{
margin: 30px;
}
.espacio{
	margin-top: 100px;
}


@media screen and (max-width: 768px){
	.busqueda{
		visibility: hidden;

	}
	aside{
		visibility: hidden;
	}

	.espacio{
		margin-top: 10px;
	}

}
body,html{
height:100%; /*Siempre es necesario cuando trabajamos con alturas*/
}
 #inferior{
color: #FFF;
background: #EAE6E6;
position:fixed; /*El div será ubicado con relación a la pantalla*/
left:0px; /*A la derecha deje un espacio de 0px*/
right:0px; /*A la izquierda deje un espacio de 0px*/
bottom:0px; /*Abajo deje un espacio de 0px*/
height:50px; /*alto del div*/
z-index:9;
border-top: 2px solid #000;
border-bottom: 1px solid #000;
margin: 0;
padding-left: 15%;
 }
 
 .espacios{
     height: 50px;
 }