    .table-teal tbody tr td.sorting_1{
        background: #37BC9B !important;
        color: white;
        border-bottom: #44c8a8 #44c8a8 #2fa084 !important;
    }
    .table-teal tfoot tr th{
        color: white;
    }
    .dropdown-item {
        display: block;
        width: 100%;
        padding: .25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }
    .dropdown-item:focus, .dropdown-item:hover {
        color: #16181b;
        text-decoration: none;
        background-color: #f8f9fa;
    }
    .dropdown-divider {
        height: 0;
        margin: .5rem 0;
        overflow: hidden;
        border-top: 1px solid #e9ecef;
    }
    #websendeos td{
        font-size:11px !important;
    }