/*Grid Flotantes*/
table.grid-float
{
	font-family:sans-serif;
	font-size:13px;		
	border-top:1px solid #a4a4a4;
	border-right:1px solid #a4a4a4;
	border-collapse:collapse;
	width:auto;
	position:relative;
	margin-right:10px;	
}
    table.grid-float a
    {
        text-decoration:underline;
    }

	table.grid-float th
	{
		padding:2px 5px;
		background: #f2f2f2;
		color:#424242;
        font-weight:bold;
        text-align:center;
	}

    table.grid-float td div
	{
		max-height:40px;
        overflow:auto;
	}

	table.grid-float th, table.grid-float td
	{
		border-bottom :1px solid #a4a4a4;
		border-left :1px solid #a4a4a4;
        vertical-align:middle;
	}

	

tr.tr-footer th
{
	text-align:left;
	font-weight:normal;
}

.contenedor-desactivo
{
	position:absolute;
	top:0px;
	z-index:30;
	background:url('../../Image/modulo/fondo-transparente-sel.png') repeat;
}

.item:hover 
{
	background:#ccc;
	cursor:pointer;
}

.item:active
{
	cursor:text;
}

.trSel,.trSel:hover
{
	background:#67719B;
    color:#fff;
}

	.trSel:hover
	{
		cursor:pointer;
	}

.tdBtn
{
	text-align:right;
	padding-right:5px;
	width:68px;
}

.tdBtn2
{
	text-align:right;
	padding-right:5px;
	width:30px;
}

.pagination
{
	float:left;
	width:20px;
}

	.pagination a
	{
		text-decoration:underline;
	}

	.pagination a:hover 
	{
		cursor:pointer;		
	}

    .pagination-ini a,.pagination-prev a,.pagination-next a,.pagination-end a
    {
	    text-decoration:none;
	    cursor:pointer;
    }

    .pagination-ini a:hover,.pagination-prev a:hover,.pagination-next a:hover,.pagination-end a:hover
    {
	    cursor:pointer;
    }
    
  
    .grid_detalle{
        margin:0 auto;
        cellpadding:0;
        cellspacing:0;
        font-size:11px;
    }
    .grid_detalle .item-tr:hover{
        /*background:rgba(122,99,143,0.4);*/
        background:rgba(63,127,191,0.4);
        cursor:pointer;
        
    }

    .grid_detalle th{
        background: rgba(122,179,143,0.9);
        color:#fff;
        text-align:center;
    }
    .trActivo{
        background:rgba(63,127,191,0.3);
    }
    .tdCenter{
        text-align: center;
    }
    .tdRight{
        text-align: rigth;
    }
    .tdLeft{
        text-align: left;
    }
    .item-tr a:hover{
        text-decoration: underline;
        color:#0066ff;
    }
    
.infoCostos{
    font-weight: bold;
}
    