html{
	background:#fff;
}

body {
	margin:0px;
	padding:0px;
}

#tbNotificacion
{
	width:100%;	
	background:#fff;
}

	#tbNotificacion td
	{		
		background:#ECEDED;
		font-size:12px;	
		font-family:Arial;
		color:#222323;	
		display:block;	
		margin:1px 0px;	
		border:1px solid #E4E4E4;
	}

	#tbNotificacion th
	{
		background:#A4A4A4;
	}

		#tbNotificacion th a
		{
			text-decoration:none;
			color:#E2E4E4;
			font-size:12px;
            display:block;
		}

		#tbNotificacion th a:hover
		{
			text-decoration:underline;
			color:#fff;
			cursor:pointer;
		}


	#tbNotificacion td:hover
	{
		background:#F7F6F6;
		border-color:#EEEEEE;
		cursor:pointer;	
	}	

#tbNotificacion .descripcion
{
	background: #D7D9D9;
	padding:0px 4px;
	width:auto;
}

	#tbNotificacion td:hover .descripcion
	{		
		background: #E4E4E4;
	}

#tbNotificacion .header
{
	padding:0px 4px;
}

#nombreNotificacion
{
	text-decoration:underline;
	font-weight:bold;
}

#tbNotificacion-footer
{
    font-size:12px;
    text-align:right;
    margin-right:3px;
    
}

    #tbNotificacion-footer a:hover
    {
        cursor:pointer;
        text-decoration:underline;
    }