body
{
	background:#fff;
	margin:0px 0px;
	padding:0px 0px;
	min-width:1024px;
	font-family:calibri;
        /*height:800px!important;*/
}

h1.title-principal{
	font-size:2em;
	margin-bottom:10px;
}

input{
	outline:0px;
}

input:focus{
	outline:0px;
	border:1px solid #87A0CC;
	background:#BCF5A9;
}

#divHeader{	
	width:100%;
	height:64px;
	/*background:#23282D;*/
	color:#fff;
        max-width:940px;
        margin:0 auto;
}
#divMenu,#divContent{
	display:inline;
}

/*#divContent{	
	position:absolute;
	left:5px;
	top:40px;
	right:5px;
	bottom:5px;
	margin:0 0 0 260px;	
	min-width:740px;	
/*}*/
#divContent-page{	
	margin-top:2px;
}

#divContent-float{
display: none; 
position: absolute; 
top: 0px; 
left: 0px; 
background-color: rgba(0, 0, 0, 0.2); 
width: 100%; 
height: 100%; 

z-index:1001; 
}


#divUsuario
{
    width:50%;
    float:right;
    text-align:right;		
	position:relative;
}	
	#divUsuario a
	{
		text-decoration:none;
	}

	#divUsuario a:hover
	{
		text-decoration:underline;		
	}

#divUsuarioAccion
{
    position:absolute;
	z-index:30;
    width:350px;
    right:0;
    clear:left;
    margin-right:10px;
	color:#000;
	padding:5px 10px;
	border:1px solid #D7D7D7;
	background:#fff;

    box-shadow: 2px 2px 10px #000;
    -webkit-box-shadow: 2px 2px 10px #000;
    -moz-box-shadow: 2px 2px 10px #000;
    filter: shadow(color=#000, direction=135, strength=10);
}

	#divUsuarioAccion #foto_perfil_128x128
	{
		float:left;
	}

	#divUsuarioAccion #contentDatos
	{		
		float:left;		
		padding-left:5px;
		padding-top:8px;
		color:#2D2C2C;
		text-align:left;
		width:210px;
	}

		#divUsuarioAccion #contentDatos #nPersona
		{
			font-weight:bold;
			font-size:13px;		
		}

		#divUsuarioAccion #contentDatos #nUsuario
		{
			color:#848484;
		}

#divUsuariobottom
{
	position:absolute;
	bottom:0;
	right:0px;
	width:195px;
	background:#F2F2F2;
	padding:8px 15px;
	border-top:1px solid #ccc;	
	text-align:right;
}

	#divUsuariobottom button
	{
		color:#5C5B5B;
	}

#foto_perfil_24x24
{
	border-radius:50%;	
	width:24px;
	height:24px;	
	display:inline-block;
	padding-top:2px;
	margin-right:8px;
}

#divNomUsuario
{
	display:inline-block;	
	vertical-align:middle;
	width:auto;
	margin-top:5px;
}	

#divNomUsuario:hover
{
	cursor:pointer;
}
	
#divFooter-temp,#divFooter{	
	min-width:300px;
	width:100%;
}

#iwindow-float{
	min-width:940px;
}

#divFooter{
	background:#23282D;
	color:#fff;
	position:fixed;
	bottom:0;
	padding-left:5px;
	font-size:13px;
	font-style:oblique;
}

#divFooter a,#createdBy a{
	color:#fff;
	text-decoration:none;
	margin-right:8px;
}

#divFooter a:hover,#createdBy a:hover{
	text-decoration:underline;
}

#createdBy{
	font-size:13px;
	color:#fff;
	float:right;
	padding-right:8px;
}

.clear{
	clear:both;
}
.cuerpo_principal{
    width:100%;
    max-width:940px;
    margin:0 auto;
}
.cuerpo_principal h1{
    color:#7c7c7c;
    font-size:20px;
    
    text-align:center;
}
.btn-secundary{
    background:#D7D7D7;
}